.App {
  text-align: center;
}

input {
  display: inline;
  margin: 10px auto;
  height: 30px;
  text-align: center;
  border-color: #323232;
  border-radius: 15px;
  font-size: 20px;
}

label {
  display: inline;
}

button {
  width: 80px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  color: #ffffff;
  background-color: #323232
}